<section class="layout">
  <div class="left">
    <app-pdf-upload [maxFileSizeBytes]="maxFileSizeBytes" (fileSelected)="onFileSelected($event)" (validationError)="onValidationError($event)" />
    <app-signature-form
      [signerName]="(signerName$ | async) ?? ''"
      [additionalText]="(additionalText$ | async) ?? ''"
      [isLoading]="(loading$ | async) ?? false"
      (signerNameChange)="onSignerNameChange($event)"
      (additionalTextChange)="onAdditionalTextChange($event)"
    />
    <app-signature-actions [loading]="(loading$ | async) ?? false" (sign)="onSign()" />
    <app-signature-result [signedPdf]="signedPdf$ | async" (clear)="clearSignedResult()" />
  </div>
  <div class="right">
    <app-pdf-preview
      [file]="(selectedFile$ | async)"
      [signerName]="(signerName$ | async) ?? ''"
      [signaturePosition]="(signaturePosition$ | async) ?? {pageNumber:1,x:24,y:24}"
      (signatureMoved)="onSignatureMoved($event)"
    />
  </div>
</section>
